In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
training_data = pd.read_csv('training_titanic_x_y_train.csv')

In [ ]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    int64
 1   Name      668 non-null    object
 2   Sex       668 non-null    object
 3   Age       536 non-null    float64
 4   SibSp     668 non-null    int64
 5   Parch     668 non-null    int64
 6   Ticket    668 non-null    object
 7   Fare      668 non-null    float64
 8   Cabin     154 non-null    object
 9   Embarked  667 non-null    object
 10  Survived  668 non-null    int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB

In [ ]:
training_data.drop(['Cabin', 'Ticket', 'Name'], inplace = True, axis = 1)

In [ ]:
training_data.at[578, 'Embarked'] = training_data['Embarked'].mode()[0]

In [ ]:
training_data.fillna(value = {'Age' : training_data['Age'].mean()}, inplace = True)

In [ ]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    int64
 1   Sex       668 non-null    object
 2   Age       668 non-null    float64
 3   SibSp     668 non-null    int64
 4   Parch     668 non-null    int64
 5   Fare      668 non-null    float64
 6   Embarked  668 non-null    object
 7   Survived  668 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 41.9+ KB

In [ ]:
training_data

     Pclass     Sex       Age  SibSp  Parch      Fare Embarked  Survived
0         2  female  29.00000      1      0   26.0000        S         1
1         3    male  29.70056      0      0    8.0500        S         0
2         2    male  39.00000      0      0   26.0000        S         0
3         3  female  29.00000      0      4   21.0750        S         0
4         3    male  25.00000      0      0    7.0500        S         0
5         3    male  34.50000      0      0    6.4375        C         0
6         1  female  35.00000      1      0   53.1000        S         1
7         3    male  23.00000      0      0    7.8958        S         0
8         2    male  29.70056      0      0   13.0000        S         1
9         3    male  50.00000      0      0    8.0500        S         0
10        3  female  23.00000      0      0    7.5500        S         1
11        3    male  29.70056      0      0    7.2292        C         0
12        2    male  36.00000      0      0   13.0000        S         0
13        3    male  29.70056      1      0   15.5000        Q         0
14        3  female  29.70056      0      0    7.7500        Q         1
15        3    male  28.00000      2      0    7.9250        S         0
16        3    male  32.00000      0      0    7.8542        S         1
17        3    male  42.00000      0      0    7.5500        S         0
18        1    male  38.00000      0      1  153.4625        S         0
19        3  female  29.70056      0      0    7.7500        Q         1
20        1    male  38.00000      0      0    0.0000        S         0
21        3  female  29.70056      0      2   15.2458        C         0
22        2  female  40.00000      0      0   15.7500        S         1
23        3    male  24.50000      0      0    8.0500        S         0
24        3  female  29.70056      0      0    7.2250        C         1
25        3  female  29.70056      8      2   69.5500        S         0
26        1    male  39.00000      0      0    0.0000        S         0
27        1    male  22.00000      0      0  135.6333        C         0
28        3    male  16.00000      0      0    7.7750        S         0
29        2    male  30.00000      0      0   13.0000        S         0
30        1  female  39.00000      1      1   79.6500        S         1
31        3    male  28.00000      0      0    7.8958        S         0
32        1    male  18.00000      1      0  108.9000        C         0
33        3  female  26.00000      0      0    7.8542        S         1
34        1    male  60.00000      0      0   26.5500        S         0
35        3    male  42.00000      0      0    7.6500        S         0
36        3    male   1.00000      4      1   39.6875        S         0
37        3    male   2.00000      4      1   29.1250        Q         0
38        1    male  37.00000      0      1   29.7000        C         0
39        3    male  29.70056      0      0    7.8958        S         0
40        3    male  29.00000      1      0    7.0458        S         0
41        2    male  30.00000      0      0   13.0000        S         0
42        3  female  32.00000      1      1   15.5000        Q         0
43        1  female  41.00000      0      0  134.5000        C         1
44        2    male  25.00000      1      0   26.0000        S         0
45        3    male  21.00000      0      0    7.8000        S         0
46        1    male  27.00000      0      0   76.7292        C         1
47        3    male  29.70056      0      0    7.8958        S         0
48        3  female  31.00000      1      0   18.0000        S         0
49        1    male  61.00000      0      0   33.5000        S         0
50        2  female  50.00000      0      0   10.5000        S         1
51        3    male   3.00000      1      1   15.9000        S         1
52        2    male  18.00000      0      0   11.5000        S         0
53        3  female  31.00000      1      1   20.5250        S         1
54        3    male  29.70056      0      0    7.7500        Q         0
55        3  female  29.70056      0      0    7.7333        Q         1
56        3    male  19.00000      0      0    7.8958        S         0
57        3    male  29.70056      0      0   14.5000        S         0
58        3    male  42.00000      0      1    8.4042        S         0
59        1  female  29.70056      1      0   51.8625        S         1
60        2    male  54.00000      0      0   26.0000        S         0
61        1    male  35.00000      0      0   26.5500        C         1
62        1    male  47.00000      0      0   52.0000        S         0
63        1  female  35.00000      1      0   83.4750        S         1
64        1  female  26.00000      0      0   78.8500        S         1
65        1  female  29.70056      0      0   79.2000        C         1
66        3    male  27.00000      0      0    7.8958        S         0
67        3    male  25.00000      0      0    7.8958        S         0
68        1    male  64.00000      0      0   26.0000        S         0
69        2    male  46.00000      0      0   26.0000        S         0
70        3  female  39.00000      0      5   29.1250        Q         0
71        2    male  21.00000      2      0   73.5000        S         0
72        3    male  21.00000      0      0    7.7750        S         0
73        3    male  35.00000      0      0    7.1250        S         0
74        2    male  66.00000      0      0   10.5000        S         0
75        2  female  28.00000      0      0   13.0000        S         1
76        3  female   1.00000      1      1   11.1333        S         1
77        1  female  48.00000      1      0   39.6000        C         1
78        1  female  38.00000      1      0   71.2833        C         1
79        3  female  36.00000      1      0   17.4000        S         1
80        1  female  29.70056      1      0   89.1042        C         1
81        3    male  31.00000      0      0    7.7750        S         0
82        1  female  18.00000      1      0  227.5250        C         1
83        2    male  23.00000      0      0   13.0000        S         0
84        1  female  54.00000      1      0   78.2667        C         1
85        3    male  25.00000      0      0    7.7417        Q         0
86        3    male  40.00000      1      1   15.5000        Q         0
87        1    male  17.00000      0      2  110.8833        C         1
88        3    male  21.00000      0      0   16.1000        S         0
89        2    male  29.00000      1      0   21.0000        S         0
90        3  female  30.00000      1      1   24.1500        S         0
91        2  female  32.00000      0      0   13.0000        S         1
92        1  female  36.00000      0      2   71.0000        S         1
93        1    male  35.00000      0      0   26.2875        S         1
94        3    male  32.00000      0      0    7.8958        S         0
95        3    male  17.00000      1      0    7.0542        S         0
96        2  female   8.00000      0      2   26.2500        S         1
97        3    male  29.70056      0      0    7.7333        Q         0
98        3    male  18.00000      0      0    8.3000        S         0
99        3  female  29.70056      1      1   22.3583        C         1
100       1    male  48.00000      0      0   26.5500        S         1
101       1    male  29.70056      0      0   26.5500        S         1
102       1    male  30.00000      0      0   27.7500        C         0
103       3    male  19.00000      0      0    8.0500        S         1
104       3  female  28.00000      0      0    7.8958        S         0
105       2    male  31.00000      0      0   10.5000        S         0
106       3    male  22.00000      0      0    8.0500        S         0
107       3    male  29.70056      0      0    7.0500        S         0
108       1  female  14.00000      1      2  120.0000        S         1
109       3    male  33.00000      0      0    9.5000        S         0
110       3  female  11.00000      4      2   31.2750        S         0
111       1  female  48.00000      0      0   25.9292        S         1
112       1    male  51.00000      0      0   26.5500        S         1
113       3  female   1.00000      0      2   15.7417        C         1
114       1    male  19.00000      1      0   53.1000        S         0
115       2    male  32.00000      2      0   73.5000        S         0
116       2    male  34.00000      1      0   21.0000        S         0
117       3    male  49.00000      0      0    0.0000        S         0
118       3  female  21.00000      0      0    7.6500        S         1
119       3  female  13.00000      0      0    7.2292        C         1
120       2  female  25.00000      0      1   26.0000        S         1
121       2  female  28.00000      0      0   13.0000        S         1
122       2  female  32.50000      0      0   13.0000        S         1
123       3  female  20.00000      0      0    8.6625        S         0
124       1  female  32.00000      0      0   76.2917        C         1
125       3    male  27.00000      1      0   14.4542        C         0
126       1    male  29.00000      0      0   30.0000        S         0
127       3    male  29.70056      0      0    8.0500        S         0
128       3    male  28.50000      0      0   16.1000        S         0
129       3  female  29.70056      0      2   22.3583        C         1
130       2    male  59.00000      0      0   13.5000        S         0
131       3  female   0.75000      2      1   19.2583        C         1
132       3    male  30.00000      0      0    8.0500        S         0
133       1    male  49.00000      1      1  110.8833        C         0
134       3    male  28.00000      0      0    9.5000        S         0
135       2  female  41.00000      0      1   19.5000        S         1
136       3    male  26.00000      1      0   14.4542        C         0
137       2    male  62.00000      0      0   10.5000        S         1
138       3    male  39.00000      0      0    7.9250        S         1
139       2    male  51.00000      0      0   12.5250        S         0
140       2    male  37.00000      1      0   26.0000        S         0
141       3  female  24.00000      0      3   19.2583        C         1
142       1    male  36.00000      0      0   26.3875        S         1
143       3    male  20.00000      0      0    7.9250        S         0
144       3    male  25.00000      0      0    7.2500        S         0
145       2    male  52.00000      0      0   13.0000        S         0
146       1  female  44.00000      0      1   57.9792        C         1
147       3    male  28.00000      1      0   15.8500        S         0
148       2  female  35.00000      0      0   21.0000        S         1
149       1  female  30.00000      0      0  106.4250        C         1
150       3  female  29.00000      1      1   10.4625        S         0
151       2    male  18.00000      0      0   13.0000        S         0
152       2  female  29.00000      1      0   26.0000        S         1
153       3  female  29.70056      8      2   69.5500        S         0
154       1  female  51.00000      1      0   77.9583        S         1
155       2    male  25.00000      1      2   41.5792        C         0
156       1  female  35.00000      1      0   90.0000        S         1
157       3    male  40.00000      0      0    7.8958        S         0
158       3  female  15.00000      0      0    8.0292        Q         1
159       3  female  28.00000      1      1   14.4000        S         0
160       3  female  63.00000      0      0    9.5875        S         1
161       3  female  30.00000      0      0    8.6625        S         0
162       3    male  44.00000      0      0    8.0500        S         0
163       1    male  34.00000      0      0   26.5500        S         1
164       2    male  19.00000      1      1   36.7500        S         0
165       1  female  24.00000      0      0   49.5042        C         1
166       1    male  29.70056      0      0   27.7208        C         0
167       3    male  29.70056      0      0    7.2250        C         0
168       3    male  25.00000      1      0   17.8000        S         0
169       3    male   9.00000      4      2   31.3875        S         0
170       3    male  29.70056      0      0    8.0500        S         0
171       1    male  52.00000      0      0   30.5000        S         1
172       3  female  24.00000      1      0   15.8500        S         1
173       1    male  54.00000      0      1   77.2875        S         0
174       1    male  70.00000      1      1   71.0000        S         0
175       2  female   6.00000      0      1   33.0000        S         1
176       3  female  33.00000      3      0   15.8500        S         1
177       2    male  32.00000      1      0   26.0000        S         1
178       1    male  26.00000      0      0   30.0000        C         1
179       1    male  36.00000      1      0   78.8500        S         0
180       3    male  70.50000      0      0    7.7500        Q         0
181       3  female  29.70056      0      0    8.0500        S         0
182       3  female  29.70056      1      0   16.1000        S         1
183       1    male  28.00000      1      0   82.1708        C         0
184       3  female  35.00000      1      1   20.2500        S         1
185       3    male   4.00000      4      2   31.2750        S         0
186       3    male  45.50000      0      0    7.2250        C         0
187       3  female  22.00000      0      0    7.7500        Q         1
188       1  female  29.70056      1      0   52.0000        S         1
189       3    male  29.70056      0      0   14.4583        C         0
190       3    male  29.70056      0      0   56.4958        S         1
191       3  female  17.00000      4      2    7.9250        S         1
192       2  female  27.00000      0      0   10.5000        S         1
193       2    male  16.00000      0      0   10.5000        S         0
194       1    male  28.00000      0      0   47.1000        S         0
195       3    male  29.70056      0      0    7.2292        C         0
196       3    male  29.70056      0      0    7.7500        Q         1
197       3    male  20.00000      1      1   15.7417        C         1
198       3    male  28.00000      0      0   56.4958        S         0
199       3    male  29.70056      0      0    7.8958        S         0
200       3  female  29.70056      3      1   25.4667        S         0
201       1    male  50.00000      2      0  133.6500        S         1
202       3  female  29.70056      0      0    7.8792        Q         1
203       3    male  29.70056      0      0    7.8958        S         0
204       3  female  21.00000      2      2   34.3750        S         0
205       3    male  19.00000      0      0    7.8958        S         0
206       3  female  40.00000      1      0    9.4750        S         0
207       2    male  29.70056      0      0   15.0500        C         0
208       1    male  37.00000      1      1   52.5542        S         1
209       1    male  11.00000      1      2  120.0000        S         1
210       3  female  39.00000      1      5   31.2750        S         0
211       2  female  22.00000      1      1   29.0000        S         1
212       1  female  21.00000      0      0   77.9583        S         1
213       3    male  29.70056      0      0    7.7500        Q         0
214       2  female   5.00000      1      2   27.7500        S         1
215       3    male  29.70056      0      0    8.4583        Q         0
216       2    male  39.00000      0      0   13.0000        S         0
217       3    male   8.00000      4      1   29.1250        Q         0
218       2  female  30.00000      0      0   12.3500        Q         1
219       3  female  25.00000      1      0    7.9250        S         0
220       1  female  29.00000      0      0  211.3375        S         1
221       3    male  20.00000      0      0    7.8542        S         0
222       2  female  57.00000      0      0   10.5000        S         0
223       3    male  35.00000      0      0    8.0500        S         0
224       3    male  29.70056      0      0    6.9500        Q         0
225       3    male  44.00000      0      0    8.0500        S         0
226       1  female  35.00000      1      0   52.0000        S         1
227       2    male  24.00000      2      0   73.5000        S         0
228       2  female  30.00000      3      0   21.0000        S         1
229       1    male  45.00000      0      0   35.5000        S         0
230       2    male  29.70056      0      0    0.0000        S         0
231       2    male   2.00000      1      1   26.0000        S         1
232       1  female  19.00000      1      0   91.0792        C         1
233       3    male  29.70056      0      0    7.2250        C         0
234       3    male  17.00000      0      0    8.6625        S         0
235       3    male  27.00000      0      0    6.9750        S         1
236       3    male  29.70056      0      0    8.7125        C         0
237       3  female  41.00000      0      5   39.6875        S         0
238       1    male  36.00000      0      0   40.1250        C         0
239       3  female  21.00000      0      0    7.7500        Q         0
240       3    male  35.00000      0      0    7.0500        S         0
241       3    male  22.00000      0      0    7.2292        C         0
242       3    male  51.00000      0      0    7.7500        S         0
243       1  female  40.00000      1      1  134.5000        C         1
244       2    male  34.00000      0      0   13.0000        S         1
245       1    male  50.00000      1      0   55.9000        S         0
246       3  female  30.50000      0      0    7.7500        Q         0
247       2  female  28.00000      1      0   24.0000        C         1
248       1  female  50.00000      0      0   28.7125        C         0
249       3    male  29.70056      0      0    8.0500        S         0
250       3    male  29.70056      1      0   24.1500        Q         0
251       1    male  25.00000      1      0   91.0792        C         1
252       3  female  16.00000      5      2   46.9000        S         0
253       3    male  61.00000      0      0    6.2375        S         0
254       3    male  11.00000      0      0   18.7875        C         0
255       3  female  29.70056      0      0    8.1375        Q         0
256       3    male  18.00000      0      0    7.7958        S         0
257       1    male  48.00000      1      0   76.7292        C         1
258       2    male  36.00000      0      0   10.5000        S         0
259       3    male  42.00000      0      0    8.6625        S         0
260       3  female  29.00000      0      2   15.2458        C         1
261       1    male  24.00000      0      0   79.2000        C         0
262       3    male  26.00000      2      0    8.6625        S         0
263       2    male  54.00000      0      0   14.0000        S         0
264       2    male  42.00000      0      0   13.0000        S         1
265       3    male  30.00000      0      0    8.0500        S         0
266       1  female  17.00000      1      0   57.0000        S         1
267       2    male  24.00000      0      0   10.5000        S         0
268       3    male  29.70056      0      0    7.2292        C         0
269       2    male  32.00000      0      0   10.5000        S         0
270       3    male  29.70056      1      1   15.2458        C         1
271       3    male  12.00000      1      0   11.2417        C         1

In [ ]:
X = training_data.iloc[:, :-1].values 
Y = training_data.iloc[:, -1].values

In [ ]:
onehotencoder = OneHotEncoder()
X = np.append(X, onehotencoder.fit_transform(X[:, 0].reshape(-1,1)).toarray(), axis = 1)
X = np.append(X, onehotencoder.fit_transform(X[:, 1].reshape(-1,1)).toarray(), axis = 1)
X = np.append(X, onehotencoder.fit_transform(X[:, 6].reshape(-1,1)).toarray(), axis = 1)

In [ ]:
X = np.delete(X, [0,1,6], axis = 1)

In [ ]:
temp = []
for i in range(len(X[0])):
    for j in range(i, len(X[0])):
        temp.append(X[:, i]*X[:, j])
temp = np.array(temp)
for i in temp:
    X = np.append(X, i.reshape(-1, 1), axis = 1)

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)
X = scaler.transform(X)

In [ ]:
classifier = LogisticRegression(max_iter = 10000, C = 0.1)

In [ ]:
classifier.fit(X, Y)

LogisticRegression(C=0.001, max_iter=10000)

In [ ]:
classifier.score(X, Y)

0.7994011976047904

In [ ]:
test_data = pd.read_csv('test_titanic_x_test.csv')

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    223 non-null    int64
 1   Name      223 non-null    object
 2   Sex       223 non-null    object
 3   Age       178 non-null    float64
 4   SibSp     223 non-null    int64
 5   Parch     223 non-null    int64
 6   Ticket    223 non-null    object
 7   Fare      223 non-null    float64
 8   Cabin     50 non-null     object
 9   Embarked  222 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 17.5+ KB

In [ ]:
test_data.drop(['Cabin', 'Ticket', 'Name'], inplace = True, axis = 1)

In [ ]:
test_data.at[208, 'Embarked'] = test_data['Embarked'].mode()[0]

In [ ]:
test_data.fillna(value = {'Age' : test_data['Age'].mean()}, inplace = True)

In [ ]:
test_data

     Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0         2    male   8.000000      1      1   36.7500        S
1         1  female  49.000000      0      0   25.9292        S
2         3    male  29.694775      0      0    7.7375        Q
3         2  female  24.000000      2      1   27.0000        S
4         1    male  36.000000      0      0   26.2875        S
5         1    male  71.000000      0      0   49.5042        C
6         3    male  16.000000      0      0    9.5000        S
7         3    male  29.694775      0      0    7.7250        Q
8         3  female  18.000000      0      0    7.7750        S
9         3    male  29.694775      0      0    8.6625        S
10        1  female  63.000000      1      0   77.9583        S
11        3    male  29.694775      0      0    7.8958        S
12        1  female  24.000000      0      0   83.1583        C
13        3  female  23.000000      0      0    7.9250        S
14        1    male  71.000000      0      0   34.6542        C
15        2    male  21.000000      1      0   11.5000        S
16        3    male  21.000000      0      0    8.4333        S
17        3    male   4.000000      1      1   11.1333        S
18        3    male  22.000000      0      0    7.5208        S
19        3  female  18.000000      0      0    6.7500        Q
20        3  female  29.694775      1      0   24.1500        Q
21        3    male  32.000000      0      0    7.7500        Q
22        1  female  58.000000      0      0   26.5500        S
23        2  female  24.000000      1      2   65.0000        S
24        3    male  29.694775      0      0    7.2500        S
25        1    male  29.694775      0      0   35.0000        S
26        2    male  28.000000      0      0   10.5000        S
27        1    male  42.000000      1      0   52.0000        S
28        3  female   0.750000      2      1   19.2583        C
29        2  female  50.000000      0      0   10.5000        S
30        2    male  23.000000      0      0   13.0000        S
31        3    male  29.694775      8      2   69.5500        S
32        3    male  26.000000      0      0    7.7750        S
33        2    male  33.000000      0      0   12.2750        S
34        3    male  24.000000      1      0   16.1000        S
35        1  female  54.000000      1      0   59.4000        C
36        3  female   2.000000      0      1   12.2875        S
37        2    male  16.000000      0      0   26.0000        S
38        3    male  28.000000      0      0    7.8542        S
39        1    male  47.000000      0      0   25.5875        S
40        3  female  29.694775      0      0    7.7500        Q
41        3    male  22.000000      0      0    7.8958        S
42        2    male  23.000000      0      0   10.5000        S
43        3    male  28.000000      0      0    7.7958        S
44        3  female  22.000000      0      0   10.5167        S
45        1    male   4.000000      0      2   81.8583        S
46        3    male  29.694775      1      2   23.4500        S
47        3  female  29.694775      0      0    7.8792        Q
48        2    male  32.500000      1      0   30.0708        C
49        3    male  23.500000      0      0    7.2292        C
50        3    male  29.000000      0      0    7.7500        Q
51        3  female  19.000000      0      0    7.8792        Q
52        2  female  36.000000      0      0   13.0000        S
53        2  female   3.000000      1      2   41.5792        C
54        3    male  36.000000      0      0    7.4958        S
55        3    male  33.000000      1      1   20.5250        S
56        3    male   0.420000      0      1    8.5167        C
57        3    male  34.000000      0      0    8.0500        S
58        2    male  52.000000      0      0   13.5000        S
59        3    male  40.000000      0      0    7.2250        C
60        3    male  17.000000      0      0    8.6625        S
61        1    male  56.000000      0      0   35.5000        C
62        1  female  45.000000      1      1  164.8667        S
63        3  female  29.694775      0      0    7.6292        Q
64        2  female  29.000000      0      0   10.5000        S
65        3    male  40.500000      0      2   14.5000        S
66        3    male  40.500000      0      0    7.7500        Q
67        1    male  29.694775      0      0   39.6000        C
68        1  female  22.000000      0      1   55.0000        S
69        1    male  44.000000      2      0   90.0000        Q
70        3    male  20.000000      0      0    7.0500        S
71        3    male  29.000000      0      0    7.8750        S
72        1    male  29.694775      0      0   52.0000        S
73        3    male  29.000000      0      0    9.4833        S
74        3    male  32.000000      0      0    8.3625        S
75        1  female  50.000000      0      1  247.5208        C
76        3  female   5.000000      2      1   19.2583        C
77        2    male  31.000000      1      1   37.0042        C
78        1    male  46.000000      1      0   61.1750        S
79        3    male  51.000000      0      0    8.0500        S
80        1    male  56.000000      0      0   26.5500        S
81        1    male  36.000000      0      1  512.3292        C
82        3    male  37.000000      2      0    7.9250        S
83        1    male  61.000000      0      0   32.3208        S
84        3    male  28.000000      0      0   22.5250        S
85        1    male  24.000000      0      1  247.5208        C
86        1    male  21.000000      0      1   77.2875        S
87        3  female   8.000000      3      1   21.0750        S
88        3    male  22.000000      0      0    7.7958        S
89        3    male  29.694775      0      0    7.8958        S
90        3  female  29.694775      0      0    7.5500        S
91        3    male  55.500000      0      0    8.0500        S
92        3    male  31.000000      0      0    7.9250        S
93        3  female  25.000000      0      0    7.7750        S
94        3    male  29.694775      0      0    7.7292        Q
95        1    male  62.000000      0      0   26.5500        S
96        3    male  45.000000      0      0    6.9750        S
97        1    male  31.000000      1      0   52.0000        S
98        3    male  10.000000      3      2   27.9000        S
99        1  female   2.000000      1      2  151.5500        S
100       3  female  29.694775      0      0    7.7500        Q
101       3    male  29.694775      0      0    9.5000        S
102       1  female  35.000000      0      0  135.6333        S
103       3    male  11.000000      5      2   46.9000        S
104       2  female  19.000000      0      0   26.0000        S
105       1  female  18.000000      2      2  262.3750        C
106       2    male  54.000000      1      0   26.0000        S
107       2    male  57.000000      0      0   12.3500        Q
108       3    male  29.694775      8      2   69.5500        S
109       3    male  22.000000      0      0    8.0500        S
110       3    male  18.000000      0      0    7.7500        S
111       1  female  36.000000      1      2  120.0000        S
112       2  female  33.000000      0      2   26.0000        S
113       1    male  40.000000      0      0    0.0000        S
114       3  female  26.000000      1      0   16.1000        S
115       2    male  31.000000      1      1   26.2500        S
116       2    male  50.000000      0      0   13.0000        S
117       3  female  29.694775      0      0    7.7500        Q
118       3    male  36.000000      1      0   15.5500        S
119       3    male  29.694775      0      0    7.8958        S
120       3    male  22.000000      1      0    7.2500        S
121       3    male  29.694775      0      0    7.8958        S
122       3    male  33.000000      0      0    7.7750        S
123       3    male  23.000000      0      0    9.2250        S
124       1    male  29.694775      0      0   30.6958        C
125       3    male   4.000000      4      1   29.1250        Q
126       3    male   7.000000      4      1   29.1250        Q
127       1    male  62.000000      0      0   26.5500        S
128       3    male  14.000000      5      2   46.9000        S
129       1    male  29.694775      0      0   35.5000        S
130       3    male  43.000000      0      0    8.0500        S
131       3    male  20.000000      0      0    8.6625        S
132       3    male  17.000000      1      1    7.2292        C
133       3    male  19.000000      0      0    0.0000        S
134       2    male  35.000000      0      0   26.0000        S
135       3    male  29.694775      0      0    7.3125        S
136       3  female  29.694775      1      0   15.5000        Q
137       1    male  29.694775      0      0   30.0000        S
138       3  female  18.000000      0      0    7.4958        S
139       1    male  56.000000      0      0   30.6958        C
140       3    male  29.694775      0      0    7.2250        C
141       3    male  26.000000      0      0    7.8875        S
142       1    male  27.000000      1      0   53.1000        S
143       3    male  18.000000      1      0    6.4958        S
144       3    male  21.000000      0      0    7.7333        Q
145       3    male  24.000000      0      0    9.5000        S
146       3    male  19.000000      0      0    8.0500        S
147       2    male  35.000000      0      0   10.5000        S
148       3  female  29.694775      0      0    7.7875        Q
149       1  female  56.000000      0      1   83.1583        C
150       1  female  35.000000      0      0  512.3292        C
151       2    male  19.000000      0      0   10.5000        S
152       3  female   9.000000      4      2   31.2750        S
153       3    male  24.000000      0      0    7.7958        S
154       3  female   5.000000      0      0   12.4750        S
155       3    male  28.500000      0      0    7.2292        C
156       1    male  48.000000      1      0   52.0000        S
157       2  female  38.000000      0      0   13.0000        S
158       3    male  19.000000      0      0    8.1583        S
159       3    male   1.000000      1      2   20.5750        S
160       3    male  29.694775      0      0    8.0500        S
161       2  female  18.000000      0      1   23.0000        S
162       2  female  50.000000      0      1   26.0000        S
163       3  female  29.694775      0      0    7.7500        Q
164       1  female  19.000000      0      0   30.0000        S
165       3    male  21.000000      0      0    7.8542        S
166       1    male  29.694775      0      0   42.4000        S
167       3    male  29.694775      0      0    7.7750        S
168       2  female  44.000000      1      0   26.0000        S
169       3  female  29.694775      0      2    7.7500        Q
170       2  female  28.000000      0      0   12.6500        S
171       3  female  18.000000      2      0   18.0000        S
172       3  female  27.000000      0      0    7.9250        S
173       2    male  23.000000      0      0   15.0458        C
174       1  female  24.000000      3      2  263.0000        S
175       3    male  22.000000      0      0    7.1250        S
176       3    male  26.000000      1      0    7.8542        S
177       3    male  17.000000      0      0    8.6625        S
178       3    male  29.694775      1      0   15.5000        Q
179       2  female  34.000000      0      0   13.0000        S
180       3    male  27.000000      0      0    7.7958        S
181       3    male  29.694775      0      0    7.2250        C
182       3    male   9.000000      5      2   46.9000        S
183       3  female  29.694775      1      0   14.4542        C
184       3  female  15.000000      1      0   14.4542        C
185       3    male  41.000000      0      0    7.1250        S
186       3  female  31.000000      0      0    8.6833        S
187       1    male  60.000000      1      1   79.2000        C
188       1  female  30.000000      0      0   93.5000        S
189       3    male  32.000000      0      0    7.9250        S
190       3    male  20.000000      0      0    9.8458        S
191       3    male  16.000000      1      1   20.2500        S
192       1  female  60.000000      1      0   75.2500        C
193       3    male  29.694775      0      0    8.0500        S
194       3    male  38.000000      0      0    7.8958        S
195       3  female  26.000000      0      0    7.9250        S
196       1  female  16.000000      0      1   57.9792        C
197       3  female  37.000000      0      0    9.5875        S
198       2  female  28.000000      1      0   26.0000        S
199       1  female  33.000000      0      0   86.5000        S
200       3    male  29.694775      0      0    7.7500        Q
201       1    male  32.000000      0      0   30.5000        C
202       3    male  22.000000      0      0    7.2500        S
203       1    male  47.000000      0      0   38.5000        S
204       3    male  29.694775      0      0    7.7500        Q
205       3    male  29.694775      1      0   19.9667        S
206       3    male  32.000000      0      0   56.4958        S
207       3    male  26.000000      0      0    7.8958        S
208       1  female  62.000000      0      0   80.0000        S
209       3  female   9.000000      3      2   27.9000        S
210       3    male  29.694775      2      0   21.6792        C
211       3  female  22.000000      0      0    7.7750        S
212       2    male  25.000000      0      0   13.0000        S
213       1    male  55.000000      0      0   30.5000        S
214       3  female  14.000000      0      0    7.8542        S
215       2  female  29.694775      0      0   12.3500        Q
216       3    male  21.000000      0      0    8.6625        S
217       3    male  29.694775      0      0    8.0500        S
218       3    male  20.000000      1      0    7.9250        S
219       1    male  45.000000      0      0   26.5500        S
220       1  female  17.000000      1      0  108.9000        C
221       3    male  43.000000      0      0    6.4500        S
222       2    male  36.500000      0      2   26.0000        S

In [ ]:
X_test = test_data.values

In [ ]:
onehotencoder = OneHotEncoder()
X_test = np.append(X_test, onehotencoder.fit_transform(X_test[:, 0].reshape(-1,1)).toarray(), axis = 1)
X_test = np.append(X_test, onehotencoder.fit_transform(X_test[:, 1].reshape(-1,1)).toarray(), axis = 1)
X_test = np.append(X_test, onehotencoder.fit_transform(X_test[:, 6].reshape(-1,1)).toarray(), axis = 1)

In [ ]:
X_test.shape

(223, 15)

In [ ]:
X_test = np.delete(X_test, [0,1,6], axis = 1)

In [ ]:
temp = []
for i in range(len(X_test[0])):
    for j in range(i, len(X_test[0])):
        temp.append(X_test[:, i]*X_test[:, j])
temp = np.array(temp)
for i in temp:
    X_test = np.append(X_test, i.reshape(-1, 1), axis = 1)

In [ ]:
X_test = scaler.transform(X_test)

In [ ]:
preds = classifier.predict(X_test)

In [ ]:
np.savetxt(X = preds, fname='submission.csv', delimiter=',')